<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title> Libaas </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="nvi">
        <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="https://dashboard.heroku.com/apps">Devloper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weath">Weather</a>
            </li>
        </div>
        </nav>
    </div>

    {{!-- *********************************************************************************************************************************** --}}

    <div>
        <div class="jumbotron">
            <h1 class="display-4">☠Developer's☠</h1>
            <p class="lead">Developers create flow charts that help programmers write computer code. Software developers are the creative minds behind computer programs. Some develop the applications that allow people to do specific tasks on a computer or another device.</p>
            <hr class="my-4">
            <p>Here are a few roles in the field. Mobile developer: Builds apps for mobile devices, including iOS and Android. ... Back end developer: Builds the functionality and interactivity of a website, including the elements that allow users to carry out actions like logging in, creating an account, and liking posts.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://www.developer.com/" role="button">Learn more</a>
            </p>
        </div>
    </div>

    {{!-- *********************************************************************************************************************************** --}}

    <div class="container kp">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/500x300/?computer,computer" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Java – Java is an object-oriented coding language created by Sun Microsystems in 1995.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/500x300/?computer,code" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Python – Python is a server-side web and software development language started by Guido van Rossum in 1991.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/500x300/?computer,desktop" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">A language code is a code that assigns letters or numbers as identifiers or classifiers for languages.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/500x300/?code,desktop" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Coding isn't hard, it just requires more time and practice than you might expect. To be a competent coder, you need to learn how to produce products, not just write code.</p>
            </div>
        </div>
    </div>


    {{!-- ********************************************************************************************************************************* --}}

    <!-- Footer -->
    <footer class="footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Developer's pvt Ltd.</a>
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>
</html>